In [4]:
import pandas as pd

student = {'Nome': ['Ricardo', 'Pedro', 'Roberto'],
          'Nota': [4, 7, 8],
          'Aprovado':['N達o', 'Sim', 'Sim']}

In [5]:
studentDF = pd.DataFrame(alunos)

studentDF

      Nome  Nota Aprovado
0  Ricardo     4      N達o
1    Pedro     7      Sim
2  Roberto     8      Sim

In [11]:
 newDF = studentDF[studentDF['Nota'] >= 5]
    
print(newDF)

      Nome  Nota Aprovado
1    Pedro     7      Sim
2  Roberto     8      Sim

In [13]:
failedStudents = studentDF[studentDF['Aprovado'] != 'Sim']

print(failedStudents)

      Nome  Nota Aprovado
0  Ricardo     4      N達o